1 ICON "sloppy.ico"
1 24 /* RT_MANIFEST */ "sloppy.exe.manifest"
1 VERSIONINFO

#ifdef BUILD_VERSION_COMMA
FILEVERSION     BUILD_VERSION_COMMA
PRODUCTVERSION  BUILD_VERSION_COMMA
#endif

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004B0"
    BEGIN
      VALUE "ProductName", "sloppy"
      VALUE "CompanyName", "sloppy.io GmbH"
      VALUE "OriginalFilename", "sloppy.exe"
      VALUE "FileDescription", "sloppy.io command line tool"
#ifdef BUILD_VERSION
      VALUE "FileVersion", BUILD_VERSION
      VALUE "ProductVersion", BUILD_VERSION
#endif
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x04B0
  END
END
